@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Pacifico&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
  
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */
.takeALetter,
.becauseALetter,
.wantedALetter,
.improveOLetter,
.gardeningALetter, 
.rootOTwoLetter {

  font-size: 65px;
  font-weight: bold;
  color: goldenrod;
  text-decoration:line-through;
  text-transform:lowercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color:maroon;

  
}

.improveELetter, 
.wantedELetter,
.theyELetter,
.becauseETwoLetter,
.gardeningELetter, 
.theirELetter {

  font-size: 60px;
  font-weight: bold;
  color:#546f47;
  text-decoration:none;
  text-transform:capitalize;
  font-family: fantasy, sans-serif;
  background-color:black;

}

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
  background-color:maroon;

}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  background-color:purple;

}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color:navy;

}

/* DID word */

.didDLetter {
  font-size: 70px;
  font-weight: 800;
  color: yellow;
  text-decoration: solid;
  text-transform: capitalize;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color:black;

}

.didILetter {
  font-size: 75px;
  font-weight: bolder;
  color:#005548;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:palevioletred;

}


.didDTwoLetter {
  font-size: 75px;
  font-weight: normal;
  color:#542a6c;
  text-decoration: none;
  text-transform:lowercase;
  font-family:'Courier New', Courier, sans-serif;
  background-color:orange;

}

/* THE word */

.theTLetter {
  font-size: 60px;
  font-weight: bold;
  color:red;
  text-decoration: none;
  text-transform: uppercase;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: #00ff55;

}

.theHLetter {
  font-size: 35px;
  font-weight: 700;
  color:#bb25ff;
  text-decoration:underline;
  text-transform:uppercase;
  font-family:fantasy, sans-serif;
  background-color:darkblue;


}

.theELetter  {
  font-size: 45px;
  font-weight: bolder;
  color:orange;
  text-decoration:none;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:red;

}

/* FRONT-END word */

.frontendFLetter {
  font-size: 25px;
  font-weight: normal;
  color: blue;
  text-decoration: none;
  text-transform: capitalize;
  font-family: fantasy,sans-serif; 
  background-color:orangered;

}

.frontendRLetter {
  font-size: 60px;
  font-weight: bold;
  color: #255265;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color:black;

}

.frontendOLetter {
  font-size: 60px;
  font-weight: 400;
  color: #cc8803;
  text-decoration: overline;
  text-transform: lowercase;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:blueviolet;

}

.frontendNLetter {
  font-size: 45px;
  font-weight: 300;
  color: rgb(000 255 245);
  text-decoration: double;
  text-transform: capitalize;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color:#282a56;

}

.frontendTLetter {
  font-size: 85px;
  font-weight:700;
  color: #00ff55;
  text-decoration:underline;
  text-transform: none;
  font-family: fantasy, sans-serif;
  background-color:blue;

}

.frontendELetter {
  font-size: 55px;
  font-weight: 800;
  color:rgb(200, 000, 255);
  text-decoration: dashed;
  text-transform: capitalize;
  font-family: fantasy, Arial, Helvetica, sans-serif;
  background-color:red;

}

.frontendNTwoLetter {
  font-size: 47px;
  font-weight: lighter;
  color: darkgray;
  text-decoration: solid;
  text-transform: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color:midnightblue;

}

.frontendDLetter  {
  font-size:small;
  font-weight: 500;
  color: red;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:yellow;

}

/* DEVELOPER word */

.developerDLetter {
  font-size: 65px;
  font-weight: bold;
  color:sienna;
  text-decoration:line-through;
  text-transform:lowercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color:brown;
}
.developerELetter {
  font-size:45px;
  font-weight: 700;
  color:palevioletred;
  text-decoration:double;
  text-transform: capitalize;
  font-family: cursive, Arial, Helvetica, sans-serif;
  background-color:navy;

}
.developerVLetter {
font-size: 75px;
font-weight: bolder;
color: rgb(000 000 150);
text-decoration:underline;
text-transform: uppercase;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color:powderblue;

}
.developerETwoLetter {
  font-size: 20px;
  font-weight: 900;
  color:black;
  text-decoration:none;
  text-transform:none;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color:pink;

}
.developerLLetter {
  font-size:55px;
  font-weight: 700;
  color:darkslategrey;
  text-decoration: overline;
  text-transform:capitalize;
  font-family:monospace, sans-serif;
  background-color:beige;

}
.developerOLetter {
  font-size: 40px;
  font-weight:200;
  color:rgb(74, 205, 62);
  text-decoration:line-through;
  text-transform:lowercase;
  font-family:'Times New Roman', Times, serif;
  background-color:navy;

}
.developerPLetter {
  font-size: 55px;
  font-weight: 300;
  color:#546f47;
  text-decoration:overline;
  text-transform:uppercase;
  font-family:sans-serif,serif;
  background-color:#cc8803;

}
.developerEThreeLetter {
  font-size: 65px;
  font-weight: bolder;
  color:blue;
  text-decoration:underline;
  text-transform:capitalize;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: orange;

}
.developerRLetter {
  font-size: 35px;
  font-weight:900;
  color:#bb35ff;
  text-decoration:none;
  text-transform:lowercase;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color:limegreen;

}

/* TAKE word */

.takeTLetter {
  font-size: 60px;
  font-weight: bolder;
  color:red;
  text-decoration:none;
  text-transform:lowercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color:black;

}
.takeKLetter {
  font-size: 30px;
  font-weight: 200;
  color:skyblue;
  text-decoration: overline;
  text-transform:none;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color:maroon;

}
.takeELetter {
  font-size: 45px;
  font-weight:900;
  color: black;
  text-decoration:underline;
  text-transform:uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color:yellow;
}

/* UP word */

.upULetter {
  font-size: 60px;
  font-weight:lighter;
  color:rgb(000 123 245);
  text-decoration:line-through;
  text-transform: lowercase;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color:#005548;

}
.upPLetter {
  font-size: 50px;
  font-weight:900;
  color:chocolate;
  text-decoration: double;
  text-transform: capitalize;
  font-family: 'source code pro', Verdana, Geneva, Tahoma, sans-serif;
  background-color:teal;

}

/* GARDENING word */

.gardeningGLetter {
  font-size: 40px;
  font-weight:bold;
  color:whitesmoke;
  text-decoration:none;
  text-transform: capitalize;
  font-family: cursive, sans-serif;
  background-color: navy;

}
.gardeningRLetter {
  font-size: 40px;
  font-weight:bold;
  color:maroon;
  text-decoration:overline;
  text-transform: capitalize;
  font-family: monospace, sans-serif;
  background-color: white

}
.gardeningDLetter {
  font-size: 70px;
  font-weight:lighter;
  color:purple;
  text-decoration:overline;
  text-transform: lowercase;
  font-family: 'Raleway', sans-serif;
  background-color:olive;

}
.gardeningNLetter {
  font-size: 45px;
  font-weight: normal;
  color: #ff25cc;
  text-decoration: none;
  text-transform: capitalize;
  font-family: fantasy,sans-serif;
  background-color:purple;

}
.gardeningILetter {
  font-size: 55px;
  font-weight: lighter;
  color: red;
  text-decoration:none;
  text-transform: uppercase;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #546f47;
}
.gardeningNTwoLetter {
font-size: 60px;
  font-weight: normal;
  color:lightsalmon;
  text-decoration: overline;
  text-transform: lowercase;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color:brown;

}
.gardeningGTwoLetter {
  font-size: 27px;
  font-weight: bolder;
  color: rgb(150 003 215);
  text-decoration: none;
  text-transform: uppercase;
  font-family:'Courier New', Courier, monospace;
  background-color:#00ff44;

}


/* BECAUSE word */

.becauseBLetter {
  font-size:65px;
  font-weight: 800;
  color:rgb(237, 95, 19);
  text-decoration:none;
  text-transform:uppercase;
  font-family: 'Times New Roman', Times, serif;
  background-color:black;

}
.becauseELetter {
  font-size:25px;
  font-weight: 800;
  color:orange;
  text-decoration:overline;
  text-transform:uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:green;

}
.becauseCLetter {
  font-size:35px;
  font-weight: 400;
  color: goldenrod;
  text-decoration:none;
  text-transform:uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:darkred;

}
.becauseULetter {
  font-size:45px;
  font-weight: 800;
  color: yellow;
  text-decoration:overline;
  text-transform:lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:navy;

}
.becauseSLetter {
  font-size:55px;
  font-weight: 800;
  color:rgb(35, 175, 222);
  text-decoration: line-through;
  text-transform:uppercase;
  font-family: 'Courier New', Courier, monospace;
  background-color: #282a56;
}


/* THEY word */

.theyTLetter {
  font-size:55px;
  font-weight: 800;
  color: black;
  text-decoration:none;
  text-transform:lowercase;
  font-family:fantasy, sans-serif;
  background-color:pink;

}
.theyHLetter {
  font-size:55px;
  font-weight: lighter;
  color:rgb(74, 205, 62);
  text-decoration:overline;
  text-transform:lowercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color:red;

}
.theyYLetter {
  font-size:45px;
  font-weight:800;
  color:magenta;
  text-decoration:none;
  text-transform:capitalize;
  font-family: fantasy, sans-serif;
  background-color:lightpink;
}

/* WANTED word */

.wantedWLetter {
  font-size:35px;
  font-weight: bolder;
  color:navajowhite;
  text-decoration:overline;
  text-transform:capitalize;
  font-family: cursive, sans-serif;
  background-color:darkblue;

}
.wantedNLetter {
  font-size:40px;
  font-weight: 400;
  color:#bb35ff;
  text-decoration:none;
  text-transform:lowercase;
  font-family: 'Courier New', Courier, monospace;
  background-color:blue;

}
.wantedTLetter {
  font-size:45px;
  font-weight: 400;
  color: rgb(005 111 255);
  text-decoration:none;
  text-transform:uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color:mintcream;

}
.wantedDLetter {
  font-size:45px;
  font-weight: lighter;
  color:navy;
  text-decoration:line-through;
  text-transform:lowercase;
  font-family: fantasy, sans-serif;
  background-color:orange;
}

/* TO word */

.toTLetter {
  font-size:45px;
  font-weight:700;
  color:red;
  text-decoration:overline;
  text-transform:lowercase;
  background-color:orange;
}

.toOLetter {
  font-size:55px;
  font-weight: 800;
  color:brown;
  text-decoration:underline;
  text-transform:uppercase;
  font-family: Arial, Helvetica, sans-serif;
  background-color:black;

}

/* IMPROVE word */

.improveILetter {
  font-size:35px;
  font-weight: 600;
  color:rgb(005 111 255);
  text-decoration:underline;
  text-transform:uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:yellowgreen;
  
}
.improveMLetter {
  font-size:55px;
  font-weight:300;
  color:#ccddff;
  text-decoration:line-through;
  text-transform:capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:blue;

}
.improvePLetter {
  font-size:15px;
  font-weight: bolder;
  color:yellow;
  text-decoration:overline;
  text-transform:uppercase;
  font-family:'Raleway Dots', sans-serif;
  background-color:magenta;

}
.improveRLetter {
  font-size:75px;
  font-weight: lighter;
  color: skyblue;
  text-decoration:none;
  text-transform:capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:navy;

}
.improveVLetter {
  font-size:55px;
  font-weight: 800;
  color: orangered;
  text-decoration:overline;
  text-transform:uppercase;
  background-color:royalblue;
}


/* THEIR word */

.theirTLetter {
  font-size:80px;
  font-weight: lighter;
  color: rgb(175 255 200);
  text-decoration:none;
  text-transform:lowercase;
  font-family: fantasy, sans-serif;
  background-color:brown;

}
.theirHLetter {
  font-size:15px;
  font-weight: 800;
  color:magenta;
  text-decoration:overline;
  text-transform:uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:red;

}
.theirILetter {
  font-size:27px;
  font-weight: bolder;
  color: silver;
  text-decoration:underline;
  text-transform:uppercase;
  font-family: cursive Verdana, Geneva, Tahoma, sans-serif;
  background-color:darkmagenta;

}
.theirRLetter {
  font-size:75px;
  font-weight: 800;
  color:#0055ad;
  text-decoration: none;
  text-transform:uppercase;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:aqua;

}

/* ROOT word */

.rootRLetter {
  font-size:75px;
  font-weight:lighter;
  color:green;
  text-decoration:none;
  text-transform: lowercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color:blue;

}
.rootOLetter {
  font-size:35px;
  font-weight: 800;
  color:maroon;
  text-decoration:none;
  text-transform:lowercase;
  font-family: fantasy, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;

}
.rootTLetter {
  font-size:80px;
  font-weight:bold;
  color: rgb(150 003 215);
  text-decoration:underline;
  text-transform:lowercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:goldenrod;

}

/* SKILLS word */

.skillsSLetter {
  font-size:80px;
  font-weight: bolder;
  color: red;
  text-decoration:none;
  text-transform:capitalize;
  font-family: 'Raleway Dots', sans-serif;
  background-color: white;
}
.skillsKLetter {
  font-size:25px;
  font-weight: 400;
  color:#00ff55;
  text-decoration:none;
  text-transform:lowercase;
  font-family: fantasy,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:#282a56;

}
.skillsILetter {
  font-size:80px;
  font-weight:900;
  color:#cd12ff;
  text-decoration:none;
  text-transform:lowercase;
  font-family: cursive,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:darkgreen;

}

.skillsLLetter {
  font-size:25px;
  font-weight: bolder;
  color: rgb(150 115 175);
  text-decoration:none;
  text-transform:capitalize;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:black;
}
.skillsLTwoLetter {
  font-size:35px;
  font-weight: lighter;
  color:darkgreen;
  text-decoration:overline;
  text-transform:none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:orangered;
}
.skillsSTwoLetter {
  font-size:80px;
  font-weight: bold;
  color:#00ff55;
  text-decoration:none;
  text-transform:lowercase;
  font-family: cursive, sans-serif;
  background-color: white;
}

/* SYMBOLS */

.hyphen {
  font-size: 75px;
  font-weight: 900;
  color: red;
  background-color: white;
}
.exclamation-mark {
  font-size: 60px;
  font-weight: 400;
  color:hotpink;
  background-color:red;
}
.question-mark {
  font-size: 50px;
  font-weight: 400;
  color:cornflowerblue;
  background-color:maroon;
}

.word > span:nth-child(1) {
  border: 6px solid blue;
}

.word > span:nth-child(2) {
  border: 6px solid green;
}

.word > span:nth-child(3) {
  border: 6px solid yellow;
}

.word > span:nth-child(4) {
  border: 6px solid red;
}
 
.word > span:nth-child(5) {
  border: 6px solid orange;
}

.word > span:nth-child(6) {
  border: 6px solid pink;
}

.word > span:nth-child(7) {
  border: 6px solid magenta;
}

.word > span:nth-child(8) {
  border: 6px solid maroon;
}

.word > span:nth-child(9) {
  border: 6px solid sienna;
}

.word > span:nth-child(10) {
  border: 6px solid floralwhite;
}

